.header {
  padding: 10px 0px 10px 0px; }
  .header h1 {
    margin-top: 0px; }

.custom-search {
  width: 100%;
  border-radius: 5px; }

.library {
  padding: 40px 0px 40px 0px;
  background-color: #F5F5F5; }
  .library img {
    border-radius: 10px;
    margin-bottom: 10px; }
    .library img:hover {
      opacity: 0.8; }
  .library h3 {
    font-size: 18px;
    font-weight: 300;
    color: #7f8c8d;
    margin-top: 0px;
    margin-bottom: 20px; }

.menu h1 {
  font-size: 12px;
  font-weight: 400px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #7f8c8d; }
.menu li {
  list-style-type: none;
  color: #2c3e50;
  margin-bottom: 5px;
  padding: 5px;
  margin-left: -5px; }
  .menu li:hover {
    background-color: #bdc3c7;
    border-radius: 5px; }
.menu ul {
  padding-left: 0px; }

.book h2 {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0px;
  font-color: #2c3e50 !important;
  margin-top: 0px; }
.book h4 {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 400;
  color: #95a5a6; }
