.header {
	padding: 10px 0px 10px 0px;
	h1 {
		margin-top:0px;
	}
	a {
		color:black;
		text-decoration:none;
	}
}

.custom-search {
	width:100%;
	border-radius: 5px;

}

.down {
	margin-bottom:20px;
}

.library {
	padding: 40px 0px 40px 0px;
	background-color: #F5F5F5; 
	a {
		color:#2c3e50;
		text-decoration:none;
	}
	img {
		border-radius:10px;
		margin-bottom: 10px;
		&:hover {
			opacity:0.8;
		}
	}
	h3 {
		font-size:18px;
		font-weight:300;
		color:#7f8c8d;
		margin-top:0px;
		margin-bottom: 20px;
	}
}

.menu {
	h1 {
		font-size:12px;
		font-weight:400px;
		margin-top:0px;
		margin-bottom:20px;
		color:#7f8c8d;
	}
	li {
		list-style-type: none;
		color:#2c3e50;
		margin-bottom:5px;
		padding: 5px;
		margin-left:-5px;
		&:hover {
			background-color: #bdc3c7;
			border-radius:5px;
		}
	}
	.selected {
		background-color: #bdc3c7;
		border-radius:5px;
	}
	ul {
		padding-left:0px;
	}
}

.book {
	h2 {
		font-size:13px;
		font-weight:500;
		margin-bottom:0px;
		font-color:  #2c3e50;
		margin-top:0px;
	}
	h4 {
		margin-top:5px;
		font-size:12px;
		font-weight:400;
		color:#95a5a6;
	}
}

.detailBook {
	padding: 50px 0px 50px 0px;
	background-color:#F5F5F5;
	h3 {
		font-family: 'Vollkorn', serif;
		font-size:34px;
		margin-bottom:5px;
	}
	h5 {
		margin-top:0px;
		font-weight:400;
		color:#7f8c8d;
	}
	p {
		font-family: 'Vollkorn', serif;
	}
	.go {
		padding: 5px 50px 5px 50px;
		border-radius: 15px;
		border: 1px solid #27ae60;
		background-color:#F5F5F5;
		font-color: #27ae60;
		color: #27ae60;
	}
}

.bookInfo {
	padding: 30px 0px 30px 0px;
	p {
		font-family: 'Vollkorn', serif;
		font-size:17px;
	}
}

#area {
	height:800px;
}