.header {
  padding: 10px 0px 10px 0px; }
  .header h1 {
    margin-top: 0px; }
  .header a {
    color: black;
    text-decoration: none; }

.custom-search {
  width: 100%;
  border-radius: 5px; }

.down {
  margin-bottom: 20px; }

.library {
  padding: 40px 0px 40px 0px;
  background-color: #F5F5F5; }
  .library a {
    color: #2c3e50;
    text-decoration: none; }
  .library img {
    border-radius: 10px;
    margin-bottom: 10px; }
    .library img:hover {
      opacity: 0.8; }
  .library h3 {
    font-size: 18px;
    font-weight: 300;
    color: #7f8c8d;
    margin-top: 0px;
    margin-bottom: 20px; }

.menu h1 {
  font-size: 12px;
  font-weight: 400px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #7f8c8d; }
.menu li {
  list-style-type: none;
  color: #2c3e50;
  margin-bottom: 5px;
  padding: 5px;
  margin-left: -5px; }
  .menu li:hover {
    background-color: #bdc3c7;
    border-radius: 5px; }
.menu .selected {
  background-color: #bdc3c7;
  border-radius: 5px; }
.menu ul {
  padding-left: 0px; }

.book h2 {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0px;
  font-color: #2c3e50;
  margin-top: 0px; }
.book h4 {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 400;
  color: #95a5a6; }

.detailBook {
  padding: 50px 0px 50px 0px;
  background-color: #F5F5F5; }
  .detailBook h3 {
    font-family: 'Vollkorn', serif;
    font-size: 34px;
    margin-bottom: 5px; }
  .detailBook h5 {
    margin-top: 0px;
    font-weight: 400;
    color: #7f8c8d; }
  .detailBook p {
    font-family: 'Vollkorn', serif; }
  .detailBook .go {
    padding: 5px 50px 5px 50px;
    border-radius: 15px;
    border: 1px solid #27ae60;
    background-color: #F5F5F5;
    font-color: #27ae60;
    color: #27ae60; }

.bookInfo {
  padding: 30px 0px 30px 0px; }
  .bookInfo p {
    font-family: 'Vollkorn', serif;
    font-size: 17px; }

.text {
  background-color: #F5F5F5;
  padding: 30px 0px 30px 0px; }
  .text h1 {
    font-family: 'Vollkorn', serif;
    margin-bottom: 20px; }
  .text h2, .text h3 {
    font-family: 'Vollkorn', serif;
    margin-bottom: 20px; }
  .text p {
    font-family: 'Vollkorn', serif;
    font-size: 16px;
    margin-bottom: 18px;
    line-height: 30px; }

.next {
  border: 1px solid black;
  padding: 5px 20px 5px 20px;
  background-color: #F5F5F5;
  margin-right: 30px; }

.searchbar {
  border: 1px solid black;
  border-radius: 0px;
  padding: 5px 10px 5px 10px;
  margin-top: 3px; }

#area {
  height: 800px; }
