<!DOCTYPE html>
<html lang="en" ng-app="readingRainbow">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reading Rainbow</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/main.css" rel="stylesheet">

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
    <script src="../js/main.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="homeController">
    <div class="header">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-4">
    				<a href="index.html"><h4>Reading Rainbow</h4></a>
    			</div>
    			<div class="col-sm-4 col-sm-offset-4">
    				<form ng-submit="search();">
    					<input type="text" ng-model="query" class="custom-search searchbar" placeholder="Search" aria-describedby="sizing-addon1">
    				</form>
    			</div>
    		</div>
    	</div>
    </div>

    <div class="library">
    	<div class="container">
    		<div class="row">

    			<div class="col-sm-2">
    				<div class="menu">
	    				<h1>BROWSE</h1>
	    				<ul>
	    					<li class="selected">Discover</li>
	    					<li>My Books</li>
	    					<li ng-click="stream()">Search</li>
	    				</ul>
	    			</div>
    			</div>
	    			<div class="col-sm-10">
    				<div class="rowofbooks" ng-repeat="books in popular">
    				<span ng-if="$index % 6 == 0">
	    				<h3>Popular books</h3>
	    					<div class="row down">
	    						<div class="col-sm-2">
	    							<a href="book.html?search={{popular[$index+0].name}}"><div class="book">
		    							<img ng-src="{{popular[$index+0].image_url}}" width="110px" height="159px">
		    							<h2>{{popular[$index+0].name}}</h2>
		    							<h4>{{popular[$index+0].author}}</h4>
		    						</div></a>
	    						</div>
	    						<div class="col-sm-2">
	    							<a href="book.html?search={{popular[$index+1].name}}"><div class="book">
		    							<img ng-src="{{popular[$index+1].image_url}}" width="110px" height="159px">
		    							<h2>{{popular[$index+1].name}}</h2>
		    							<h4>{{popular[$index+1].author}}</h4>
		    						</div></a>
	    						</div>
	    						<div class="col-sm-2">
	    							<a href="book.html?search={{popular[$index+2].name}}"><div class="book">
		    							<img ng-src="{{popular[$index+2].image_url}}" width="110px" height="159px">
		    							<h2>{{popular[$index+2].name}}</h2>
		    							<h4>{{popular[$index+2].author}}</h4>
		    						</div></a>
	    						</div>
	    						<div class="col-sm-2">
	    							<a href="book.html?search={{popular[$index+3].name}}"><div class="book">
		    							<img ng-src="{{popular[$index+3].image_url}}" width="110px" height="159px">
		    							<h2>{{popular[$index+3].name}}</h2>
		    							<h4>{{popular[$index+3].author}}</h4>
		    						</div></a>
	    						</div>
	    						<div class="col-sm-2">
	    							<a href="book.html?search={{popular[$index+4].name}}"><div class="book">
		    							<img ng-src="{{popular[$index+4].image_url}}" width="110px" height="159px">
		    							<h2>{{popular[$index+4].name}}</h2>
		    							<h4>{{popular[$index+4].author}}</h4>
		    						</div></a>
	    						</div>
	    						<div class="col-sm-2">
	    							<a href="book.html?search={{popular[$index+5].name}}"><div class="book">
		    							<img ng-src="{{popular[$index+5].image_url}}" width="110px" height="159px">
		    							<h2>{{popular[$index+5].name}}</h2>
		    							<h4>{{popular[$index+5].author}}</h4>
		    						</div></a>
	    						</div>
	    					</div>
	    					<span>
	    			</div>
	    		</div> <!--end row of books-->

    		</div>
    	</div>
    </div>

    <div class="hello"></div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>